@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- banner -->
<div class="banner-horizontal container my-4 px-0">
    <a href="#"><img src="../img/image 16.png" alt=""></a>
</div>
<!-- end banner -->
<!-- hot news -->
<div class="container hot-news py-4 d-flex justify-content-center y-line-nomal px-0">
    <h2 class="d-flex my-0">
        <a href="#" class="red-text text-uppercase my-0">hot!:</a>
        <a href="#" class="text-capitalize my-0 ps-1 text-orange-hover">Hot girl cầu lông Thùy Linh giành huy chương lịch sử</a>
        <div class="label-view ms-3">
            <a href="#" class="text-capitalize">xem thêm</a>
        </div>
    </h2>
</div>
<!-- end hot news -->
<!-- main section -->
<div class="main-section container d-flex my-4 px-0">
    <div class="col-3 pe-3">
        <div class="left-main-section-top">
            @{

                <div class="aspect-16-9">
                    @{
                        var slug = "";
                    }
                    @foreach (var url in ViewBag.Headline[1].Metadata)
                    {
                        if (url.Name == "Slug")
                        {
                            slug = url.Value;
                        }
                    }
                    <a href="#">
                        @foreach (var img in ViewBag.Headline[1].Image)
                        {
                            if (img.Type == "Thumbnail")
                            {
                                string url = @img.Url;
                                string src = url.StartsWith("http") ? url : img.Cdn + img.Url;
                                <img class="aspect-content boxshadow" src="@src" alt="" />
                            }
                        }
                    </a>
                </div>
                <div>
                    <h2 class="text-capitalize my-2 d-inline">
                        <a href="#">
                            @foreach (var url in ViewBag.Headline[1].Metadata)
                            {
                                if (url.Name == "DVBCategories")
                                {
                                    @url.Value
                                }
                            }
                        </a>
                    </h2>
                </div>
                <div>
                    <h3 class="text-capitalize py-2 my-0">
                        <a href="#" class="text-orange-hover">@ViewBag.Headline[1].Title</a>
                    </h3>
                </div>
                <div class="auther">
                    <h3 class="my-0">
                        <a href="#">Tác giả: Nguyễn Văn A</a>
                    </h3>
                </div>
            }
        </div>
        <div class="left-main-section-bottom">
            @{

                <div class="aspect-16-9">
                    @foreach (var url in ViewBag.Headline[2].Metadata)
                    {
                        if (url.Name == "Slug")
                        {
                            slug = url.Value;
                        }
                    }
                    <a href="#">
                        @foreach (var img in ViewBag.Headline[2].Image)
                        {
                            if (img.Type == "Thumbnail")
                            {
                                string url = @img.Url;
                                string src = url.StartsWith("http") ? url : img.Cdn + img.Url;
                                <img class="aspect-content boxshadow" src="@src" alt="" />
                            }
                        }
                    </a>
                </div>
                <div>
                    <h2 class="text-capitalize my-2 d-inline">
                        <a href="#">
                            @foreach (var url in ViewBag.Headline[2].Metadata)
                            {
                                if (url.Name == "DVBCategories")
                                {
                                    @url.Value
                                }
                            }
                        </a>
                    </h2>
                </div>
                <div>
                    <h3 class="text-capitalize py-2 my-0">
                        <a href="#" class="text-orange-hover">@ViewBag.Headline[2].Title</a>
                    </h3>
                </div>
                <div class="auther">
                    <h3 class="my-0">
                        <a href="#">Tác giả: Nguyễn Văn A</a>
                    </h3>
                </div>
            }
        </div>
    </div>
    <div class="col-6 px-3 x-line-nomal">
        @{
            <div class="midder-main-section">
                <div class="aspect-1-1">
                    @foreach (var url in ViewBag.Headline[0].Metadata)
                    {
                        if (url.Name == "Slug")
                        {
                            slug = url.Value;
                        }
                    }
                    <a href="#">
                        @foreach (var img in ViewBag.Headline[0].Image)
                        {
                            if (img.Type == "lg")
                            {
                                string url = @img.Url;
                                string src = url.StartsWith("http") ? url : img.Cdn + img.Url;
                                <img class="aspect-content boxshadow" src="@src" alt="" />
                            }
                        }
                    </a>
                </div>
                <div class="py-2 mt-2">
                    <h2 class="text-capitalize">
                        <a href="#">
                            @foreach (var url in ViewBag.Headline[0].Metadata)
                            {
                                if (url.Name == "DVBCategories")
                                {
                                    @url.Value
                                }
                            }
                        </a>

                    </h2>
                </div>
                <div class="title-midder">
                    <h3 class="py-2 my-0 mb-2">
                        <a href="#" class="text-orange-hover">@ViewBag.Headline[0].Title</a>
                    </h3>
                </div>
                <div class="auther">
                    <h3 class="my-0">
                        <a href="#">Tác giả: Nguyễn Văn A</a>
                    </h3>
                </div>
            </div>
        }
    </div>
    <div class="col-3 ps-3">
        <div class="left-main-section-top">
            @{
                <div class="aspect-16-9">
                    @foreach (var url in ViewBag.Headline[3].Metadata)
                    {
                        if (url.Name == "Slug")
                        {
                            slug = url.Value;
                        }
                    }
                    <a href="~/chi-tiet/@slug">
                        @foreach (var img in ViewBag.Headline[3].Image)
                        {
                            if (img.Type == "Thumbnail")
                            {
                                string url = @img.Url;
                                string src = url.StartsWith("http") ? url : img.Cdn + img.Url;
                                <img class="aspect-content boxshadow" src="@src" alt="">
                            }
                        }
                    </a>
                </div>
                <div>
                    @foreach (var url in ViewBag.Headline[3].Metadata)
                    {
                        if (url.Name == "DVBCategories")
                        {
                            <h2 class="text-capitalize my-2 d-inline">
                                <a href="#">@url.Value</a>
                            </h2>
                        }
                    }
                </div>
                <div>
                    <h3 class="text-capitalize py-2 my-0">
                        <a href="~/chi-tiet/@slug" class="text-orange-hover">@ViewBag.Headline[3].Title</a>
                    </h3>
                </div>
                <div class="auther">
                    <h3 class="my-0">
                        <a href="#">Tác giả: Chưa có tác giả </a>
                    </h3>
                </div>
            }
        </div>
        <div class="right-main-section-bottom">
            @{
                <div class="aspect-16-9">
                    @foreach (var url in ViewBag.Headline[4].Metadata)
                    {
                        if (url.Name == "Slug")
                        {
                            slug = url.Value;
                        }
                    }
                    <a href="~/chi-tiet/@slug">
                        @foreach (var img in ViewBag.Headline[4].Image)
                        {
                            string url = @img.Url;
                            string src = url.StartsWith("http") ? url : img.Cdn + img.Url;
                            <img class="aspect-content boxshadow" src="@src" alt="">
                        }
                    </a>
                </div>
                <div>
                    @foreach (var url in ViewBag.Headline[4].Metadata)
                    {
                        if (url.Name == "DVBCategories")
                        {
                            <h2 class="text-capitalize my-2 d-inline">
                                <a href="#">@url.Value</a>
                            </h2>
                        }

                    }
                </div>
                <div>
                    <h3 class="text-capitalize py-2 my-0">
                        <a href="~/chi-tiet/@slug" class="text-orange-hover">@ViewBag.Headline[4].Title</a>
                    </h3>
                </div>
                <div class="auther">
                    <h3 class="my-0">
                        <a href="#">Tác giả: Chưa có tác giả </a>
                    </h3>
                </div>
            }
        </div>
    </div>
</div>
<!-- end main section -->
<!-- Slider home -->
<div class="container pb-3">
    <div class="home-page">
        <div class="slider-block  position-relative d-flex align-items-center flex-column">
            <div class="slider-heading position-absolute">
                <h2>Xem nhiều nhất</h2>
            </div>
            <section class="full-blee">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper content">
                        @{
                            @for (var i = 0; i <= 3; i++)
                            {
                                <div class="swiper-slide card">
                                    <div class="card-img aspect-16-9 h-100">
                                        @foreach (var url in ViewBag.Headline[i].Metadata)
                                        {
                                            if (url.Name == "Slug")
                                            {
                                                slug = url.Value;
                                            }
                                        }
                                        <a href="~/chi-tiet/@slug">
                                            @foreach (var img in ViewBag.Headline[i].Image)
                                            {
                                                string url = @img.Url;
                                                string src = url.StartsWith("http") ? url : img.Cdn + img.Url;
                                                <img class="aspect-content boxshadow" src="@src" alt="#">
                                            }
                                        </a>
                                    </div>
                                    <div class="card-category my-2 ">
                                        @foreach (var url in ViewBag.Headline[i].Metadata)
                                        {
                                            if (url.Name == "DVBCategories")
                                            {
                                                <p class="text-capitalize mb-0">@url.Value</p>
                                            }

                                        }

                                    </div>
                                    <div class="card-heading">
                                        <h2 class="text-capitalize">
                                            <a href="#">@ViewBag.Headline[i].Title</a>
                                        </h2>
                                    </div>
                                    <div class="post-time">
                                        <p class="mb-0">07/09/2022 (chưa có)</p>
                                    </div>
                                </div>
                            }
                        }

                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </section>

        </div>
    </div>
</div>
<!-- end slider home -->
<!-- banner style2 -->
<div class="banner-style2 container py-3 top-line-nomal">
    <div class="d-flex justify-content-center">
        <a href="#">
            <img src="../img/image 16 (2).png" alt="">
        </a>
    </div>
</div>
<!-- end banner style2 -->
<!-- contents -->
<!-- first -->
<div class="container d-flex px-0 my-3">
    <div class="col-10 pe-3">
        @{
            <div class="header-first-section d-flex">
                <div class="contents">
                    <h2>
                        <a class="text-capitalize" href="/chuyen-muc/@ViewBag.Home[0].PrivateKey">@ViewBag.Home[0].Title</a>
                    </h2>
                </div>
                <div class="contents-right d-flex ms-auto">
                    <a href="#" class="d-flex">
                        <p class="text-capitalize my-0 me-2">xem thêm</p>
                        <i class="fa-solid fa-angles-right"></i>
                    </a>
                </div>
            </div>
        }

        @{
            @for (var i = 0; i <= 2; i++)
            {

                <div class="box-section d-flex py-3 bottom-line-nomal">
                    <div class="col-4 me-3">
                        <div class="aspect-16-9">
                            @foreach (var url in ViewBag.Headline[i].Metadata)
                            {
                                if (url.Name == "Slug")
                                {
                                    slug = url.Value;
                                }
                            }
                            <a href="~/chi-tiet/@slug">
                                @foreach (var img in ViewBag.Home[0].Media[i].Image)
                                {
                                    if (img.Type == "Thumbnail")
                                    {
                                        string url = @img.Url;
                                        string src = url.StartsWith("http") ? url : img.Cdn + img.Url;
                                        <img class="aspect-content boxshadow" src="@src" alt="">
                                    }
                                }
                            </a>
                        </div>
                    </div>
                    <div class="col-8 ms-3">
                        <div class="calendar ms-3">07/09/2022(chưa có)</div>
                        <div class="title">
                            <h3>
                                <a href="#" class="text-orange-hover">@ViewBag.Home[0].Media[i].Title</a>
                            </h3>
                        </div>
                        <div class="content">
                            <p class="two-line mb-0">@ViewBag.Home[0].Media[i].Description</p>
                        </div>
                        <div class="auther d-flex mt-5">
                            <h3 class="my-0">
                                <a href="#">Tác giả: Chưa có tác giả</a>
                            </h3>
                            <div class="icon-social-networks ms-auto d-flex align-items-center">
                                <a href="#">
                                    <i class="fa-brands fa-facebook-f mx-1 py-2 icon-fb"></i>
                                </a>
                                <a href="#">
                                    <i class="fa-brands fa-twitter mx-1 py-2 icon-twitter"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }

    </div>
    <div class="col-2 ps-3">
        <div class="vertical-banner h-100">
            <a href="#">
                <img class="h-100" src="../img/image 17.png" alt="">
            </a>
        </div>
    </div>
</div>
<!-- second -->
<div class="banner-style2 container py-3 top-line-nomal">
    <div class="d-flex justify-content-center">
        <img src="../img/image 16 (2).png" alt="">
    </div>
</div>
<div class="container d-flex px-0 my-3">
    <div class="col-10 pe-3">
        @{
            <div class="header-first-section d-flex">
                <div class="contents">
                    <h2>
                        <a class="text-capitalize" href="/chuyen-muc/@ViewBag.Home[1].PrivateKey">@ViewBag.Home[1].Title</a>
                    </h2>
                </div>
                <div class="contents-right d-flex ms-auto">
                    <a href="#" class="d-flex">
                        <p class="text-capitalize my-0 me-2">xem thêm</p>
                        <i class="fa-solid fa-angles-right"></i>
                    </a>
                </div>
            </div>
        }
        @{
            @for (var i = 3; i <= 5; i++)
            {

                <div class="box-section d-flex py-3 bottom-line-nomal">
                    <div class="col-4 me-3">
                        <div class="aspect-16-9">
                            @foreach (var url in ViewBag.Headline[i].Metadata)
                            {
                                if (url.Name == "Slug")
                                {
                                    slug = url.Value;
                                }
                            }
                            <a href="~/chi-tiet/@slug">
                                @foreach (var img in ViewBag.Home[1].Media[i].Image)
                                {
                                    if (img.Type == "Thumbnail")
                                    {
                                        string url = @img.Url;
                                        string src = url.StartsWith("http") ? url : img.Cdn + img.Url;
                                        <img class="aspect-content boxshadow" src="@src" alt="">
                                    }
                                }
                            </a>
                        </div>
                    </div>
                    <div class="col-8 ms-3">
                        <div class="calendar ms-3">07/09/2022(chưa có)</div>
                        <div class="title">
                            <h3>
                                <a href="#" class="text-orange-hover">@ViewBag.Home[1].Media[i].Title</a>
                            </h3>
                        </div>
                        <div class="content">
                            <p class="two-line mb-0">@ViewBag.Home[1].Media[i].Description</p>
                        </div>
                        <div class="auther d-flex mt-5">
                            <h3 class="my-0">
                                <a href="#">Tác giả: Chưa có tác giả</a>
                            </h3>
                            <div class="icon-social-networks ms-auto d-flex align-items-center">
                                <a href="#">
                                    <i class="fa-brands fa-facebook-f mx-1 py-2 icon-fb"></i>
                                </a>
                                <a href="#">
                                    <i class="fa-brands fa-twitter mx-1 py-2 icon-twitter"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }

        }


    </div>
    <div class="col-2 ps-3">
        <div class="vertical-banner h-100">
            <a href="#">
                <img class="h-100" src="../img/image 17.png" alt="">
            </a>
        </div>
    </div>
</div>
<!-- thirt -->
<div class="banner-style2 container py-3 top-line-nomal">
    <div class="d-flex justify-content-center">
        <img src="../img/image 16 (2).png" alt="">
    </div>
</div>
<div class="container d-flex px-0 my-3">
    <div class="col-10 pe-3">
        <div class="header-first-section d-flex">
            @{
                <div class="contents">
                    <h2>
                        <a class="text-capitalize" href="/chuyen-muc/@ViewBag.Home[2].PrivateKey">@ViewBag.Home[2].Title</a>
                    </h2>
                </div>
                <div class="contents-right d-flex ms-auto">
                    <a href="#" class="d-flex">
                        <p class="text-capitalize my-0 me-2">xem thêm</p>
                        <i class="fa-solid fa-angles-right"></i>
                    </a>
                </div>
            }
        </div>
        @{
            @for (var i = 5; i <= 7; i++)
            {
                <div class="box-section d-flex py-3 bottom-line-nomal">
                    <div class="col-4 me-3">
                        <div class="aspect-16-9">
                            @foreach (var url in ViewBag.Headline[i].Metadata)
                            {
                                if (url.Name == "Slug")
                                {
                                    slug = url.Value;
                                }
                            }
                            <a href="~/chi-tiet/@slug">
                                @foreach (var img in ViewBag.Home[2].Media[i].Image)
                                {
                                    if (img.Type == "Thumbnail")
                                    {
                                        string url = @img.Url;
                                        string src = url.StartsWith("http") ? url : img.Cdn + img.Url;
                                        <img class="aspect-content boxshadow" src="@src" alt="">
                                    }
                                }
                            </a>
                        </div>
                    </div>
                    <div class="col-8 ms-3">
                        <div class="calendar ms-3">07/09/2022(chưa có)</div>
                        <div class="title">
                            <h3>
                                <a href="#" class="text-orange-hover">@ViewBag.Home[2].Media[i].Title</a>
                            </h3>
                        </div>
                        <div class="content">
                            <p class="two-line mb-0">@ViewBag.Home[2].Media[i].Description</p>
                        </div>
                        <div class="auther d-flex mt-5">
                            <h3 class="my-0">
                                <a href="#">Tác giả: Chưa có tác giả</a>
                            </h3>
                            <div class="icon-social-networks ms-auto d-flex align-items-center">
                                <a href="#">
                                    <i class="fa-brands fa-facebook-f mx-1 py-2 icon-fb"></i>
                                </a>
                                <a href="#">
                                    <i class="fa-brands fa-twitter mx-1 py-2 icon-twitter"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }

        }


    </div>
    <div class="col-2 ps-3">
        <div class="vertical-banner h-100">
            <a href="#">
                <img class="h-100" src="../img/image 17.png" alt="">
            </a>
        </div>
    </div>
</div>
<!-- end contents -->
